body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;    
    background-color: #c3c0c0;
    color: #333;
    line-height: 1.5;
    
}

header, footer {
    background-color: black;
    color: white;
    text-align: center;    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 20px;    
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo{
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.site-name{
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: white;
    text-decoration:none;
    font-weight:bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #b3b3b3;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 7px 0 0 rgba(0, 0, 0, 0.1);
    flex: 1;
}

h2 {
    color: #d70c0c;
}

.projects-container {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
    padding: 10px;

}

.project-item{
    text-align: center;
    padding: 5px;
    border-radius:10px;
    background-color:#F6F7A9;
    font-family: monospace;
    font-size: 15px;
}

.details{
    display:none;
    margin-top: 10px;
}

.details.show{
    display:block;
}

.toggle-details{
    font-size: x-small;
    border-radius: 3px;
    border: none;
    cursor:pointer;
    background-color:transparent;
    color:grey;
}

.project.info{
    font-size: x-small;
}

.special-p{
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
}

form{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 90%;
    margin: 0 auto;

}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}


#message {
    width: 100%; 
    height: 100px; 
    padding: 10px; 
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
 
.submit-button{
    background-color: rgb(241, 240, 240);
    border-radius: 5px;
    border:none;
    cursor: pointer;
}
  
.submit-button:hover{
    background-color: rgb(186, 195, 187);
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25em;
}

.invalid {
    border-color: red;
}

.dark-mode {
    background-color: #333;
    color: #fff;
    
}

.dark-mode nav ul li a{
    color:#b3b3b3;
}

.dark-mode header, .dark-mode footer{
    background-color: #111;
    color:white;
}

.dark-mode .project-item{
    background-color:#444;
}

.dark-mode section, 
.dark-mode p, 
.dark-mode h2, 
.dark-mode label,
.dark-mode input[type="text"], 
.dark-mode input[type="email"], 
.dark-mode textarea {
    color: #fff;
}

.dark-mode input[type="text"], 
.dark-mode input[type="email"], 
.dark-mode textarea {
    background-color: #555;
    border-color: #888;
}


#toggleTheme{
    position:absolute;
    top: 70px;
    right: 20px;
    padding: 10px;
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#toggleTheme:hover{
    background-color: #333;
}

footer {    
    padding: 5px;
    position: relative; /*preferably position: relative so the footer doesn't overlap contact me section */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12px;
    font-size: 10px;
    line-height: 0.1px;
    
}

@media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 10px;
        margin: 10px;
    }
}
